
logs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output files
*.pth
snapshots/*
outputs/*
*.log

# Evaluation files
eval_results/*
evaluations/*
*.pdf
*.jpg
*.png
*.nc
*.wandb
*.joblib
